.form-container {
  width: 350px;
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.form-container h3 {
  margin-top: auto;
  margin-bottom: 15px;
}

.form-container input {
  width: 90%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
}

.form-container button {
  width: 95%;
  padding: 10px;
  background: #2b2b2b;
  color: white;
  border: none;
  cursor: pointer;
}
